* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-image: url("img/backgForm.jpg");
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
.menu li:firs-child a {border-left: none;}
.menu li:last-child a {border-right: none;}

.menu li:hover > a {color: #0C0}

.menu ul {
  position: absolute;
  top: 40px;
  left: 0px;
  
  opacity: 0;
  background: #222;
  
  border-radius: 0 0 5px 5px;
  transition: opacity .20s ease .1s;
}

.menu li:hover > ul {opacity: 1;}

.menu ul li {
  height: 0;
  overflow: hidden;
  padding: 0;
  
  transition: height .25s ease .1s;
}

.menu li:hover > ul li {
  height: 36px;
  overflow: visible;
  padding: 0;
}

.menu ul li a {
  width: 130px;
  padding: 4px 10px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #353539;
}
.menu ul li:last-child a { border: none; }

  a {
    text-decoration: none;
    color: #555;
  }
  
  p {
    color: #555;
  }
  
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  
  .btn {
    display: inline-block;
    background: #ff523b;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
  }
  
  .btn:hover {
    background: #563434;
  }
  
  .header {
    background: radial-gradient(rgba(255, 255, 255, 0.603), #ffd6d698);
  }
  
  .header2 .row {
    margin-top: 70px;
  }
  
  .categories {
    margin: 70px 0;
  }
  
  .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
  }
  
  .col-3 img {
    width: 100%;
  }
  
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  
  .col-4 img {
    width: 100%;
  }
  
  .title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
  }
  .title::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
  
  h4 {
    color: #555;
    font-weight: normal;
  }
  
  .col-4 p {
    font-size: 14px;
  }
  
  .rating .fas {
    color: #fff23b;
  }
  
  .rating .far {
    color: #3be8ff;
  }
  
  .col-4:hover {
    transform: translateY(-5px);
  }
  
  /* Offer */
  
  .offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
  }
  
  .col-2 .offer-img {
    padding: 20px;
  }
  
  small {
    color: #555;
  }
  
  /* testimonial */
  
  .testimonial {
    padding-top: 100px;
  }
  
  .testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .testimonial .col-3 img {
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .testimonial .col-3:hover {
    transform: translateY(-10px);
  }
  
  .fa-quote-left {
    font-size: 34px;
    color: #ff523b;
  }
  
  .col-3 p {
    font-size: 14px;
    margin: 12px 0;
    color: #777777;
  }
  
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
  }
  
  .brands {
    margin: 100px auto;
  }
  
  .col-5 {
    width: 160px;
  }
  
  .col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
  }
  
  .col-5 img:hover {
    width: 100%;
    cursor: pointer;
    filter: grayscale(0);
  }
  
  /* footer */
  
  .footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  
  .footer p {
    color: #8a8a8a;
  }
  
  .footer h3 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  .footer-col-1 {
    flex-basis: 30%;
  }
  
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  
  .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
  }
  
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
  }
  
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  
  .copyright {
    text-align: center;
  }
  
  .menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
  }
  
  /* media query for menu */
  
  @media only screen and (max-width: 800px) {
    nav ul {
      position: absolute;
      top: 70px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
    }
    nav ul li {
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    nav ul li a {
      color: #fff;
    }
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  }
  
  /* all products page */
  
  .row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
  }
  
  select {
    border: 1px solid #ff523b;
    padding: 5px;
  }
  
  select:focus {
    outline: none;
  }
  
  .page-btn {
    margin: 0 auto 80px;
  }
  
  .page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
  
  .page-btn span:hover {
    background: #ff523b;
    color: #ffffff;
  }
  
  /* single product details */
  
  .single-product {
    margin-top: 80px;
  }
  
  .single-product .col-2 img {
    padding: 0;
  }
  
  .single-product .col-2 {
    padding: 20px;
  }
  
  .single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
  }
  
  .single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
  }
  
  .single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
  }
  
  input:focus {
    outline: none;
  }
  
  .single-product .fas {
    color: #ff523b;
    margin-left: 10px;
  }
  
  .small-img-row {
    display: flex;
    justify-content: space-between;
  }
  
  .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
  }
  
  /* cart items */
  
  .cart-page {
    margin: 90px auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  th {
    text-align: left;
    padding: 5px;
    color: #ffffff;
    background: #ff523b;
    font-weight: normal;
  }
  td {
    padding: 10px 5px;
  }
  
  td input {
    width: 40px;
    height: 30px;
    padding: 5px;
  }
  
  td a {
    color: #ff523b;
    font-size: 12px;
  }
  
  td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  .total-price {
    display: flex;
    justify-content: flex-end;
  }
  
  .total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
  }
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
  }
  /* account page */
  .account-page {
    padding: 50px 0;
    background: radial-gradient(rgba(255, 255, 255, 0.664), #ffd6d698);
  }
  
  .form-container {
    background: #ffffff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }
  
  .form-btn {
    display: inline-block;
  }
  
  .form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
  }
  
  form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
  }
  
  form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }
  
  form .btn:focus {
    outline: none;
  }
  
  #LoginForm {
    left: -300px;
  }
  
  #RegForm {
    left: 0;
  }
  
  form a {
    font-size: 12px;
  }
  
  #Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
  }
  
  /* media query for less than 600 screen size */
  
  @media only screen and (max-width: 600px) {
    .row {
      text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
      flex-basis: 100%;
    }
  
    .single-product .row {
      text-align: left;
    }
  
    .single-product .col-2 {
      padding: 20px 0;
    }
    .single-product h1 {
      font-size: 26px;
      line-height: 32px;
    }
    .cart-info p {
      display: none;
    }
  }

  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
  * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }

  a, a:link {
    color: #212529;
    text-decoration: none;
    transition: 0.3s linear;
  }
  a:hover {
    color: #0a0c0e;
  }
  a:focus {
    outline: none;
  }

  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.575);
    z-index: 1020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  
  .header-logo {
    margin-right: auto;
  }
  .header-logo .header-brand {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
  }
  .header-logo .header-brand:hover {
    text-decoration: none;
  }
  .header-logo .header-brand .brand-logo {
    margin-right: 1rem;
    border-radius: 50%;
  }
  .header-logo .header-brand .brand-text {
    margin-right: 1rem;
    display: none;
    color: white;
  }
  @media screen and (min-width: 768px) {
    .header-logo .header-brand .brand-text {
      display: inline-block;
    }
  }
  
  .header-nav {
    display: flex;
    margin: 0 auto;
  }
  .header-nav .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
  }
  @media screen and (min-width: 992px) {
    .header-nav .nav {
      display: flex;
    }
  }
  
  .header-nav .header-nav-item {
    display: inline-block;
  }
  .header-nav .header-nav-link {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0.7rem 0.85rem;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
  }
  .header-nav .header-nav-link.active {
    background: rgba(227, 227, 227, 0.361);
    color: #8b7878;
  }
  
  .header-profile {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 0.4rem;
  }
  .header-profile .hader-profile-links {
    display: inline-flex;
  }
  .header-profile .avatar {
    border-radius: 50%;
  }
  
  .header-search-content {
    margin: auto;
  }
  
  .header-search-input {
    width: 100%;
    height: 2.75rem;
    border-radius: 50rem;
    background: #e4e6e7;
    border: 0;
    box-sizing: border-box;
    padding: 0.4rem 1.4rem 0.4rem 4.6rem;
    font-size: 1.0625rem;
    font-weight: 500;
  }
  .header-search-input:focus {
    outline: 0;
    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-color: #000;
  }
  
  .search-form {
    position: relative;
    transition: all 0.3s ease-in-out;
    margin-right: 0.5rem;
  }
  .search-form .header-search-input {
    width: 100%;
  }
  .search-form .search-icon {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
  }
  
  .header .header-back {
    opacity: 0;
    position: absolute;
    left: 10px;
  }
  .header .header-back .icon-back {
    transform: rotate(90deg);
  }
  
  .header.show .header-logo, .header.show .header-nav, .header.show .header-profile {
    display: none;
  }
  .header.show .header-search-content {
    width: 100%;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    .header.show .header-search-content {
      width: 50%;
    }
  }
  .header.show .header-search-content .search-form {
    width: 80%;
    margin-left: 10%;
  }
  @media screen and (min-width: 768px) {
    .header.show .header-search-content .search-form {
      width: 80%;
    }
  }
  .header.show .header-back {
    opacity: 100;
  }
  .header.show .header-back .icon-back {
    transform: rotate(0deg);
    transition: transform 0.5s cubic-bezier(0.42, 0, 0, 0.57);
  }
  
  .overlay-search {
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
    display: none;
  }
  .overlay-search.show {
    display: block;
    opacity: 9;
  }
  
  .ripple-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    pointer-events: none;
    overflow: hidden;
  }
  
  .ripple-effect {
    margin-top: 0px;
    margin-left: 0px;
    width: 1px;
    height: 1px;
    background-color: rgba(179, 154, 154, 0.541);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    pointer-events: none;
  }
  
  .ripple-effect.ripple-light {
    background-color: rgba(255, 255, 255, 0.829);
  }
  
  .ripple-effect.ripple-dark {
    background-color: rgb(236, 228, 228);
  }
  
  .ripple-grow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .ripple-grow .ripple-waves {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #ffffff;
    outline: none;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .ripple-grow .ripple-waves::before {
    content: "";
    border-radius: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  
  .ripple-waves {
    width: 2.75rem;
    height: 2.75rem;
  }
  .ripple-waves .ripple-icon {
    width: 1.5277777778rem;
    height: 1.5277777778rem;
  }
  
  .ripple-grow:hover .ripple-waves::before {
    background-color: rgb(255, 255, 255);
    opacity: 0.1;
    -webkit-animation: ripple-grow 0.3s linear;
            animation: ripple-grow 0.3s linear;
    transform: scale(1);
  }
  .ripple-grow:hover .ripple-icon {
    color: #ffffff;
  }
  .ripple-grow:focus .ripple-waves::before, .ripple-grow:active .ripple-waves::before, .ripple-grow.active .ripple-waves::before {
    background-color: rgb(250, 253, 255);
    opacity: 0.2;
    -webkit-animation: ripple-grow 0.3s linear;
            animation: ripple-grow 0.3s linear;
    transform: scale(1);
  }
  
  @-webkit-keyframes ripple-grow {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      opacity: 0.1;
      transform: scale(1);
    }
  }
  
  @keyframes ripple-grow {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      opacity: 0.1;
      transform: scale(1);
    }
  }

  .middle{
    position: relative;
    top: 50%;
    transform: translateY(-20%);
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .btn-brand{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
  }
  .btn-brand i{
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
  }
  .btn-brand:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
  }
  .btn-brand::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #222121d0;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  .btn-brand:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }

  