*{
  box-sizing: border-box;
}
:root{
    --btn-width-100: 100px;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: normal;
  margin-top: 1rem;
  font-size: 4rem;
  text-align: center;
}

#terminos{
  color: white;
}

span {
  color: rgb(8, 190, 38)
}

.contador-contenedor {
  display: flex;
}


.big-text {
  -webkit-text-stroke: 2px black;
  color:white;
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}

nav{
    margin: 0;
    padding: 0;
    background-color: honeydew;
}

*,
*:before,
*:after {
box-sizing: border-box;
}

body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
color: #b9b9b9;
background-image: url("../img/backgForm.jpg");
background-size: cover;
display: flex;
flex-direction: column;
}
.header {
    background: radial-gradient(rgba(255, 255, 255, 0.603), #ffd6d698);
  }
  
h4 {
color: #7ed321;
}

h3 {
  color: #0395f7;
}

input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
width: 100%;
padding: 1em;
line-height: 1.4;
background-color: #f9f9f9;
border: 1px solid #e5e5e5;
border-radius: 3px;
-webkit-transition: 0.35s ease-in-out;
-moz-transition: 0.35s ease-in-out;
-o-transition: 0.35s ease-in-out;
transition: 0.35s ease-in-out;
transition: all 0.35s ease-in-out;
}
input:focus {
outline: 0;
border-color: #64ac15;
}
input:focus + .input-icon i {
color: #7ed321;
}
input:focus + .input-icon:after {
border-right-color: #7ed321;
}
input[type="radio"] {
display: none;
}
input[type="radio"] + label,
select {
display: inline-block;
width: 50%;
text-align: center;
float: left;
border-radius: 0;
}
input[type="radio"] + label:first-of-type {
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
}
input[type="radio"] + label:last-of-type {
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}
input[type="radio"] + label i {
padding-right: 0.4em;
}
input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
background-color: #7ed321;
color: #fff;
border-color: #64ac15;
}
input[type="checkbox"] {
display: none;
}
input[type="checkbox"] + label {
position: relative;
display: block;
padding-left: 1.6em;
}
input[type="checkbox"] + label:before {
position: absolute;
top: 0.2em;
left: 0;
display: block;
width: 1em;
height: 1em;
padding: 0;
content: "";
}
input[type="checkbox"] + label:after {
position: absolute;
top: 0.45em;
left: 0.2em;
font-size: 0.8em;
color: #fff;
opacity: 0;
font-family: FontAwesome;
content: "\f00c";
}
input:checked + label:after {
opacity: 1;
}
select {
height: 3.4em;
line-height: 2;
}
select:first-of-type {
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
}
select:last-of-type {
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}
select:focus,
select:active {
outline: 0;
}
select option {
background-color: #7ed321;
color: #fff;
}
.input-group {
margin-bottom: 1em;
zoom: 1;
}
.input-group:before,
.input-group:after {
content: "";
display: table;
}
.input-group:after {
clear: both;
}
.input-group-icon {
position: relative;
}
.input-group-icon input {
padding-left: 4.4em;
}
.input-group-icon .input-icon {
position: absolute;
top: 0;
left: 0;
width: 3.4em;
height: 3.4em;
line-height: 3.4em;
text-align: center;
pointer-events: none;
}
.input-group-icon .input-icon:after {
position: absolute;
top: 0.6em;
bottom: 0.6em;
left: 3.4em;
display: block;
border-right: 1px solid #e5e5e5;
content: "";
-webkit-transition: 0.35s ease-in-out;
-moz-transition: 0.35s ease-in-out;
-o-transition: 0.35s ease-in-out;
transition: 0.35s ease-in-out;
transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
-webkit-transition: 0.35s ease-in-out;
-moz-transition: 0.35s ease-in-out;
-o-transition: 0.35s ease-in-out;
transition: 0.35s ease-in-out;
transition: all 0.35s ease-in-out;
}
.container {
max-width: 38em;
padding: 1em 3em 2em 3em;
margin: 0em auto;
background-color: rgba(111, 118, 161, 0.342);
border-radius: 4.2px;
box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.row {
zoom: 1;
}
.row:before,
.row:after {
content: "";
display: table;
}
.row:after {
clear: both;
}
.col-half {
padding-right: 10px;
float: left;
width: 50%;
}
.col-half:last-of-type {
padding-right: 0;
}
.col-third {
padding-right: 10px;
float: left;
width: 33.33333333%;
}
.col-third:last-of-type {
padding-right: 0;
}
@media only screen and (max-width: 540px) {
.col-half {
  width: 100%;
  padding-right: 0;
}
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
font-family: "Roboto", sans-serif;
font-size: 0.925rem;
}

a {
text-decoration: none;
}

.container {
width: 1170px;
position: relative;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}

#espaciado{
  padding-top: 20px;
}

.navbar,
.navbar .container {
width: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}
@media (max-width: 768px) {
.navbar,
.navbar .container {
  display: block;

}
}

.navbar {
padding: 1.15rem 1rem;
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
background-color: #fff;
}
@media (min-width: 576px) {
.navbar .container {
  max-width: 540px;
}
}
@media (min-width: 768px) {
.navbar .container {
  max-width: 720px;
}
}
@media (min-width: 992px) {
.navbar .container {
  max-width: 960px;
}
}
@media (min-width: 1200px) {
.navbar .container {
  max-width: 1140px;
}
}

@media (max-width: 768px) {
.navbar .navbar-menu {
  display: none;
  text-align: center;
}
}
.navbar .navbar-menu .navbar-nav {
margin-left: auto;
flex-direction: row;
display: flex;
padding-left: 0;
margin-bottom: 0;
list-style: none;
}
@media (max-width: 768px) {
.navbar .navbar-menu .navbar-nav {
  width: 100%;
  display: block;
  border-top: 1px solid #EEE;
  margin-top: 1rem;
}
}
.navbar .navbar-menu .navbar-nav > li > a {
color: #3c4250;
text-decoration: none;
display: inline-block;
padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
color: #66f;
}
@media (max-width: 768px) {
.navbar .navbar-menu .navbar-nav > li > a {
  border-bottom: 1px solid #EEE;
}
}
.navbar .navbar-menu .navbar-nav > li.active a {
color: #66f;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
list-style: none;
position: absolute;
top: 150%;
left: 0;
background-color: #fff;
padding: 0.5rem 0;
min-width: 160px;
width: auto;
white-space: nowrap;
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
z-index: 99999;
border-radius: 0.75rem;
display: none;
}
@media (max-width: 768px) {
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  position: relative;
  box-shadow: none;
}
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
color: #3c4250;
padding: 0.25rem 1rem;
display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
height: 1px;
width: 100%;
margin: 9px 0;
background-color: #eee;
}
.navbar .navbar-dropdown {
position: relative;
}

#color-clas{
  color: black;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #212529;
  background-color: white;
  -webkit-text-size-adjust: 100%;
}
body .footer {
  margin-top: auto;
}

a, a:link {
  color: #212529;
  text-decoration: none;
  transition: 0.3s linear;
}
a:hover {
  color: #0a0c0e;
}
a:focus {
  outline: none;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.575);
  z-index: 1020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.header-logo {
  margin-right: auto;
}
.header-logo .header-brand {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}
.header-logo .header-brand:hover {
  text-decoration: none;
}
.header-logo .header-brand .brand-logo {
  margin-right: 1rem;
  border-radius: 50%;
}
.header-logo .header-brand .brand-text {
  margin-right: 1rem;
  display: none;
  color: white;
}
@media screen and (min-width: 768px) {
  .header-logo .header-brand .brand-text {
    display: inline-block;
  }
}

.header-nav {
  display: flex;
  margin: 0 auto;
}
.header-nav .nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
@media screen and (min-width: 992px) {
  .header-nav .nav {
    display: flex;
  }
}

.header-nav .header-nav-item {
  display: inline-block;
}
.header-nav .header-nav-link {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.7rem 0.85rem;
  border-radius: 2rem;
  color: white;
}
.header-nav .header-nav-link.active {
  background: rgba(227, 227, 227, 0.361);
  color: #8b7878;
}

.header-profile {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 0.4rem;
}
.header-profile .hader-profile-links {
  display: inline-flex;
}
.header-profile .avatar {
  border-radius: 50%;
}

.header-search-content {
  margin: auto;
}

.header-search-input {
  width: 100%;
  height: 2.75rem;
  border-radius: 50rem;
  background: #e4e6e7;
  border: 0;
  box-sizing: border-box;
  padding: 0.4rem 1.4rem 0.4rem 4.6rem;
  font-size: 1.0625rem;
  font-weight: 500;
}
.header-search-input:focus {
  outline: 0;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-color: #000;
}

.search-form {
  position: relative;
  transition: all 0.3s ease-in-out;
  margin-right: 0.5rem;
}
.search-form .header-search-input {
  width: 100%;
}
.search-form .search-icon {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

.header .header-back {
  opacity: 0;
  position: absolute;
  left: 10px;
}
.header .header-back .icon-back {
  transform: rotate(90deg);
}

.header.show .header-logo, .header.show .header-nav, .header.show .header-profile {
  display: none;
}
.header.show .header-search-content {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header.show .header-search-content {
    width: 50%;
  }
}
.header.show .header-search-content .search-form {
  width: 80%;
  margin-left: 10%;
}
@media screen and (min-width: 768px) {
  .header.show .header-search-content .search-form {
    width: 80%;
  }
}
.header.show .header-back {
  opacity: 100;
}
.header.show .header-back .icon-back {
  transform: rotate(0deg);
  transition: transform 0.5s cubic-bezier(0.42, 0, 0, 0.57);
}

.overlay-search {
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  display: none;
}
.overlay-search.show {
  display: block;
  opacity: 9;
}

.ripple-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  pointer-events: none;
  overflow: hidden;
}

.ripple-effect {
  margin-top: 0px;
  margin-left: 0px;
  width: 1px;
  height: 1px;
  background-color: rgba(179, 154, 154, 0.541);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  pointer-events: none;
}

.ripple-effect.ripple-light {
  background-color: rgba(255, 255, 255, 0.829);
}

.ripple-effect.ripple-dark {
  background-color: rgb(236, 228, 228);
}

.ripple-grow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.ripple-grow .ripple-waves {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #ffffff;
  outline: none;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.ripple-grow .ripple-waves::before {
  content: "";
  border-radius: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.ripple-waves {
  width: 2.75rem;
  height: 2.75rem;
}
.ripple-waves .ripple-icon {
  width: 1.5277777778rem;
  height: 1.5277777778rem;
}

.ripple-grow:hover .ripple-waves::before {
  background-color: rgb(255, 255, 255);
  opacity: 0.1;
  -webkit-animation: ripple-grow 0.3s linear;
          animation: ripple-grow 0.3s linear;
  transform: scale(1);
}
.ripple-grow:hover .ripple-icon {
  color: #ffffff;
}
.ripple-grow:focus .ripple-waves::before, .ripple-grow:active .ripple-waves::before, .ripple-grow.active .ripple-waves::before {
  background-color: rgb(250, 253, 255);
  opacity: 0.2;
  -webkit-animation: ripple-grow 0.3s linear;
          animation: ripple-grow 0.3s linear;
  transform: scale(1);
}

@-webkit-keyframes ripple-grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

@keyframes ripple-grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}
.footer {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}